@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
:root {
    --nav-width: calc(12rem + 80px);

    --dark-background: #383d40;
    --light-background: #2f3233;
    --very-dark-background: #181818;

    --box-dark-background: #191B2A;
    --box-light-background: #191B2A;

    --accent: #001427;
    --accent-hover: #003566;

    
    --group-color: var(--preset-color-transparent);
    --preset-color-red: rgb(250, 128, 114);
    --preset-color-orange: rgb(255, 195, 0);
    --preset-color-green: rgb(218, 247, 166);
    --preset-color-blue: rgb(93, 173, 226);
    --preset-color-transparent: var(--dark-background);

}

::-webkit-scrollbar {
    background-color: var(--light-background);
    border-radius: 5px;
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--box-dark-background);
    border-radius: 5px;
}
.fr { display: flex; flex-direction: row }
.frr { display: flex; flex-direction: row-reverse }
.fc { display: flex; flex-direction: column }
.fcr { display: flex; flex-direction: column-reverse }

body {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: row;
    overflow: hidden;
}

nav {
    width: var(--nav-width);
    height: 100%;
    background: var(--very-dark-background);
}
nav .branding {
    height: 90px;
    width: 100%;
    align-items: center;
    gap: 15px;
    padding: 20px;
    color: #fff;
    font-weight: 700;
    font-size: 1.4rem;
    border-bottom: 3px solid var(--dark-background);
    user-select: none;
}
nav .branding img {
    height: 100%;
}

nav ul {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}
nav ul li {
    display: flex;
    color: #fff;
    list-style-type: none;
    border-radius: 5px;
    margin: 10px 15px;
    padding: 10px 15px;
    cursor: pointer;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
nav ul li:hover,
nav ul li.active {
    background-color: var(--dark-background);
}


#app {
    background-color: var(--dark-background);
    background-size: 10px 10px;
    background-image: repeating-linear-gradient(45deg, var(--light-background) 0, var(--light-background) 1px, var(--dark-background) 0, var(--dark-background) 50%);
    height: 100%;
    width: 100%;
    max-width: calc(100vw - var(--nav-width));
}

#app[data-chordcreatoropened] .groupInner {
    max-width: 50%;
}

.groupInner {
    max-width: 100%;
    width: 100%;
    transition: max-width .2s ease-in-out;
}

input[type="text"], 
input[type="number"] {
    height: 42px;
    padding: 5px 15px;
    max-width: 500px;
    border: none;
}
input[type="text"].error, 
input[type="number"].error {
    outline: 2px solid var(--preset-color-red);
    background-color: #A31621;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    text-align: center;
    transition: background-color .1s ease-in-out;
    cursor: pointer;
    user-select: none;
    background-color: var(--accent);
    color: #fff;
    border: none;
    max-width: 500px;
}
.btn:hover {
    background-color: var(--accent-hover);
}


.form {
    display: flex;
    align-items: flex-end;
    gap: 25px;
    margin: 50px 100px;
}

.dropdownbox {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.dropdownbox .label {
    color: #fff;
}

.comp.dropdown {
    position: relative;
    color: #fff;
    background-color: var(--light-background);
    border-radius: 2px;
    user-select: none;
}
.comp.dropdown input {
    width: 100%;
}
.comp.dropdown ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 0;
    overflow: auto;
    transition: max-height .2s ease-in-out;
}

.comp.dropdown ul li {
    background-color: var(--dark-background);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
    
}
.comp.dropdown ul li.error:hover {
    background-color: var(--dark-background);
    cursor: default;
}
.comp.dropdown ul li:hover {
    background-color: var(--light-background);
}
.comp.dropdown[data-error] {
    outline: 3px solid #ee1829;
}
.comp.dropdown[data-opened] ul {
    max-height: 300px;
}


.table {
    display: grid;
    grid-template-columns: repeat(auto-fill, 450px);
    justify-content: center;
    margin: 50px 100px;
    gap: 5px 10px;
}
.table .line {
    display: flex;
    gap: 15px;
    height: 35px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    border: 1px solid var(--accent);
}
.table .left {
    background-color: var(--accent);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 70px;
    color: #fff;
}
.table .right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.table .right span {
    width: 70px;
    height: 100%;
    padding: 5px 10px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color .2s;
}
.table .right span:hover {
    background-color: var(--accent-hover);
    color: #fff;
}