/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Components */
@import url('components/sidebar.css');
@import url('components/toggleMode.css');
@import url('components/group.css');

/* Pages */
@import url('pages/gallery.css');


/* Basics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
*:focus-visible {
    outline: 2px solid var(--font-color) !important;
}
#app.darkmode {
    --background: #393d3f;
    --background-icons: #2f3233;
    --accent: #001427;
    --accent-hover: #003566;
    --light-gray: #6a6a6a;
    --dark-gray: #6b6161;
    --overlay: rgba(0, 0, 0, 0.4);
    --box: #181818;
    --font-color: #fff;
}
#app.lightmode {
    --background: #eee;
    --background-icons: #e1e1e1;
    --accent: #001427;
    --accent-hover: #003566;
    --light-gray: #ececec;
    --dark-gray: #6b6161;
    --overlay: rgba(0, 0, 0, 0.2);
    --box: #fff;
    --font-color: #000;
}
#app {
    background-size: 10px 10px;
    background-image: repeating-linear-gradient(45deg, var(--background-icons) 0, var(--background-icons) 1px, var(--background) 0, var(--background) 50%);
    color: var(--font-color);
}
.fr {
    display: flex;
    flex-direction: row;
}
.fc {
    display: flex;
    flex-direction: column;
}
.fr-r {
    display: flex;
    flex-direction: row-reverse;
}
.fc-r {
    display: flex;
    flex-direction: column-reverse;
}
.selectable {
    cursor: pointer;
}


.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    text-align: center;
    transition: background-color .1s ease-in-out;
    cursor: pointer;
}
.section {
    width: calc(100% - 300px);
    overflow: hidden auto;
    padding: 25px 50px;
    gap: 20px;
    max-height: 100vh;
}

